[submodule "data/javascript/vue"]
	path = data/javascript/vue
	url = https://github.com/vuejs/vue
[submodule "data/javascript/bootstrap"]
	path = data/javascript/bootstrap
	url = https://github.com/twbs/bootstrap
[submodule "data/javascript/react"]
	path = data/javascript/react
	url = https://github.com/facebook/react
[submodule "data/javascript/d3"]
	path = data/javascript/d3
	url = https://github.com/d3/d3
[submodule "data/javascript/react-native"]
	path = data/javascript/react-native
	url = https://github.com/facebook/react-native
[submodule "data/javascript/create-react-app"]
	path = data/javascript/create-react-app
	url = https://github.com/facebook/create-react-app
[submodule "data/javascript/node"]
	path = data/javascript/node
	url = https://github.com/nodejs/node
[submodule "data/javascript/Font-Awesome"]
	path = data/javascript/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "data/javascript/angular.js"]
	path = data/javascript/angular.js
	url = https://github.com/angular/angular.js
[submodule "data/javascript/axios"]
	path = data/javascript/axios
	url = https://github.com/axios/axios
[submodule "data/javascript/jquery"]
	path = data/javascript/jquery
	url = https://github.com/jquery/jquery
[submodule "data/javascript/three.js"]
	path = data/javascript/three.js
	url = https://github.com/mrdoob/three.js
[submodule "data/javascript/puppeteer"]
	path = data/javascript/puppeteer
	url = https://github.com/GoogleChrome/puppeteer
[submodule "data/javascript/webpack"]
	path = data/javascript/webpack
	url = https://github.com/webpack/webpack
[submodule "data/javascript/atom"]
	path = data/javascript/atom
	url = https://github.com/atom/atom
[submodule "data/javascript/redux"]
	path = data/javascript/redux
	url = https://github.com/reduxjs/redux
[submodule "data/javascript/reveal.js"]
	path = data/javascript/reveal.js
	url = https://github.com/hakimel/reveal.js
[submodule "data/javascript/express"]
	path = data/javascript/express
	url = https://github.com/expressjs/express
[submodule "data/javascript/Chart.js"]
	path = data/javascript/Chart.js
	url = https://github.com/chartjs/Chart.js
[submodule "data/javascript/meteor"]
	path = data/javascript/meteor
	url = https://github.com/meteor/meteor
[submodule "data/c-sharp/shadowsocks-windows"]
	path = data/c-sharp/shadowsocks-windows
	url = https://github.com/shadowsocks/shadowsocks-windows
[submodule "data/c-sharp/CodeHub"]
	path = data/c-sharp/CodeHub
	url = https://github.com/CodeHubApp/CodeHub
[submodule "data/c-sharp/PowerShell"]
	path = data/c-sharp/PowerShell
	url = https://github.com/PowerShell/PowerShell
[submodule "data/c-sharp/Wox"]
	path = data/c-sharp/Wox
	url = https://github.com/Wox-launcher/Wox
[submodule "data/c-sharp/WaveFunctionCollapse"]
	path = data/c-sharp/WaveFunctionCollapse
	url = https://github.com/mxgmn/WaveFunctionCollapse
[submodule "data/c-sharp/coreclr"]
	path = data/c-sharp/coreclr
	url = https://github.com/dotnet/coreclr
[submodule "data/c-sharp/AspNetCore"]
	path = data/c-sharp/AspNetCore
	url = https://github.com/aspnet/AspNetCore
[submodule "data/c-sharp/EntityFrameworkCore"]
	path = data/c-sharp/EntityFrameworkCore
	url = https://github.com/aspnet/EntityFrameworkCore
[submodule "data/c-sharp/dnSpy"]
	path = data/c-sharp/dnSpy
	url = https://github.com/0xd4d/dnSpy
[submodule "data/c-sharp/mono"]
	path = data/c-sharp/mono
	url = https://github.com/mono/mono
[submodule "data/c-sharp/SignalR"]
	path = data/c-sharp/SignalR
	url = https://github.com/SignalR/SignalR
[submodule "data/c-sharp/ILSpy"]
	path = data/c-sharp/ILSpy
	url = https://github.com/icsharpcode/ILSpy
[submodule "data/c-sharp/Newtonsoft.Json"]
	path = data/c-sharp/Newtonsoft.Json
	url = https://github.com/JamesNK/Newtonsoft.Json
[submodule "data/c-sharp/Nancy"]
	path = data/c-sharp/Nancy
	url = https://github.com/NancyFx/Nancy
[submodule "data/c-sharp/aspnetboilerplate"]
	path = data/c-sharp/aspnetboilerplate
	url = https://github.com/aspnetboilerplate/aspnetboilerplate
[submodule "data/c-sharp/Avalonia"]
	path = data/c-sharp/Avalonia
	url = https://github.com/AvaloniaUI/Avalonia
[submodule "data/c-sharp/AutoMapper"]
	path = data/c-sharp/AutoMapper
	url = https://github.com/AutoMapper/AutoMapper
[submodule "data/c-sharp/eShopOnContainers"]
	path = data/c-sharp/eShopOnContainers
	url = https://github.com/dotnet-architecture/eShopOnContainers
[submodule "data/c-sharp/ShareX"]
	path = data/c-sharp/ShareX
	url = https://github.com/ShareX/ShareX
[submodule "data/c-sharp/Blazor"]
	path = data/c-sharp/Blazor
	url = https://github.com/aspnet/Blazor
